/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";



/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #f1f5f9; /* Light gray */
}
body::-webkit-scrollbar-thumb {
  background-color: #60a5fa; /* Tailwind blue-400 */
  border-radius: 6px;
}
.popular-tour-slider {
  padding-bottom: 50px;
}

.popular-tour-slider .swiper-pagination {
  bottom: 0 !important;
}

.popular-tour-slider .swiper-pagination-bullet {
  background: #64748b;
}

.popular-tour-slider .swiper-pagination-bullet-active {
  background: #3b82f6;
}

