/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";



@theme {
  --color-primary-green: #F0FDF4;
}
@utility bg-brand-gradient {
  @apply bg-gradient-to-r from-orange-500 via-green-500 to-blue-400;
}

body{
  background-color: #F9FAFB;
}
/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #f1f5f9; /* Light gray */
}
body::-webkit-scrollbar-thumb {
  background-color: #60a5fa; /* Tailwind blue-400 */
  border-radius: 6px;
}
.popular-tour-slider {
  padding-bottom: 50px;
}

.popular-tour-slider .swiper-pagination {
  bottom: 0 !important;
}

.popular-tour-slider .swiper-pagination-bullet {
  background: #64748b;
}

.popular-tour-slider .swiper-pagination-bullet-active {
  background: #3b82f6;
}

@keyframes planeFly {
  0% {
    transform: translateX(-40px) translateY(-50%);
  }

  100% {
    transform: translateX(320px) translateY(-50%);
  }
}

.animate-plane {
  animation: planeFly 2.5s linear infinite;
}

